.partner-head{
	width: 100%;
	height: 90px;
	text-align: center;
	color: #fff;
	background: linear-gradient(to bottom,#53BDF0, #4E9EF1);
    background: -webkit-linear-gradient(to bottom,#53BDF0, #4E9EF1);
}
.total-income{
	height: 40px;
	line-height: 40px;
}
.parter-total-money{
	font-size: 25px;
	font-family: "Arial";
}
.parter-money-message{
	width: 100%;
	height: 60px;
	overflow: hidden;
	background: #fff;
	margin-bottom: 15px;
}
.publics-money{
	width: 50%;
	height: 100%;
	float: left;
	color: #8D9FA7;
	padding: 10px 0;
	text-align: center;
}
.publics-money span{
	display: block;
	color: #4F5F66;
	padding-top: 2px;
}
.available-money{
	width: 49%;
	border-right: 1px solid #E6E6E6;
}
.parter-index-box{
	background: #fff;
	height: auto;
	margin-bottom: 15px;
}
.parter-index-box li{
	height: 45px;
	line-height: 45px;
	position: relative;
	border-bottom: 1px solid #eee;
}
.parter-index-box li label img{
	width: 25px;
	float: left;
	margin: 11px 5px 0 3%;
}
.parter-index-box li a{
	color: #4F5F66;
	display: block;
}
.parter-index-box li span{
	float: right;
	margin-right: 8%;
	color: #8D9FA7;
}
.parter-index-box li span i{
	width: 6px;
    height: 6px;
    border-top: 2px solid #8D9FA7;
    border-left: 2px solid #8D9FA7;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 3%;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.parter-footer-model{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	height:70px;
	background: url(../images/bj-icon.png) top center no-repeat;
	background-size: 100%;
}
.clearance{
	height: 65px;
}
.footer-inde-nav{
	height: 46px;
	width: 40%;
	float: left;
	text-align: center;
	margin-top: 24px;
	font-size: 9px;
}
.footer-inde-nav a{
	display: block;
	height: 100%;
}
.footer-inde-nav img{
	width: 22px;
	margin: 0 auto;
	padding: 5px 0 2px 0;
	/*margin-top: 3px;
	margin-bottom: 2px;*/
}
.parter-carmter{
	width: 20%;
	float: left;
}
.parter-carmter img{
	width: 58px;
	margin: 0 auto;
	margin-top: 9px;
}
/*钱包*/
.my-wallet-box{
	height: 150px;
}
.wallet-profit{
	padding: 3% 0;
}
.wallet-cash-btn{
	width: 31%;
	height: 30px;
	margin: auto;
	line-height: 30px;
	border:1px solid #fff;
	border-radius: 15px;
	margin-top: 6%;
}
.wallet-cash-btn a{
	color: #fff;
	display: block;
}
.wallet-minWidth{
	width: 33%;
}
.walert-line{
	border-right: 1px solid #eee;
}
/*收益统计*/
.statist-list-box{
	width: 94%;
	height: auto;
	margin:  0 auto;
	margin-top: 15px;
}
.statist-list-box li{
	background: #fff;
	border-radius: 5px;
	position: relative;
	margin-bottom: 10px;
}
.shop-statit-title{
	height: 40px;
	line-height: 40px;
	margin: 0 3%;
	color: #4F5F66;
	border-bottom: 1px dashed #979797;
}
.shop-statit-title img{
	width: 18px;
	float: left;
	margin: 11px 5px 0 0;
}
.staitact-modle-box{
	margin: 0 3%;
	height: auto;
	overflow: hidden;
	color: #4F5F66;
	padding: 2% 0;
}
.staitIn{
	height: 30px;
	line-height: 30px;
}
.staitIn img{
	width: 18px;
	float: left;
	margin: 6px 5px 0 0;
}
.staitact-modle-box p{
	margin-left: 7%;
}
.stati-Profit{
	position: absolute;
	right: 3%;
	bottom: 7%;
	color: #4F5F66;
}
.stati-Profit span{
	font-size: 18px;
	font-family: "Arial";
	color: #F44C4C;
}
/*扫描绑定店铺*/
.scann-model-box{
	width: 100%;
	height: 100px;
	background: #fff;
	display: inline-block;
}
.scann-shop-title{
	height: 40px;
	line-height: 40px;
	font-size: 15px;
	color: #4F5F66;
	margin: 1% 5%;
}
.scann-shopBox{
	width: 87%;
	margin: auto;
	height: auto;
	position: relative;
}
.scann-shopBox img{
	width: 20px;
	float: left;
	margin: 6px 5px 0 0;
}
.scann-shopBox select{
	width: 100%;
	background: #EEEEEE;
	height: 30px;
	line-height: 30px;
    -webkit-appearance: none;
    outline: none;
    border:none;
    font-family: "微软雅黑"
}
.shopName-box{
	width: 82%;
	height: 32px;
	line-height: 32px;
	background: #EEEEEE;
	border-radius: 4px;
	float: left;
	overflow:hidden;
	padding: 0 10px;
	color: #4F5F66;
}
.selet-shop-modle{
	width: 100%;
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 5;
	box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.50);
	border-radius: 5px;
	display: none;
}
.selet-shop-modle ul{
	height: 265px;
	overflow-y: scroll;
}
.seleted-title{
	width: 94%;
	height: 35px;
	line-height: 35px;
	color: #4F5F66;
	background: #EEEEEE;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 0 3%;
}
.selet-shop-modle li{
	margin: 0 3%;
	padding: 10px 0;
	height: auto;
	overflow: hidden;
	color: #4F5F66;
	position: relative;
	border-bottom: 1px solid #EEEEEE;
}
.selet-shop-modle li strong{
	width: 80%;
	float: left;
}
.selet-shop-modle li span{
	float: right;
	font-size: 12px;
	color: #ABABAB;
}
/*邀请统计*/
.data-statist-box{
	width: 100%;
	height: 150px;
	position: relative;
	background: #fff;
	display: inline-block;
}
.data-model-text{
	text-align: center;
	color: #58686E;
}
.data-classfit{
	height: 18px;
	line-height: 18px;
	position: absolute;
	top: 0;
	left: 0;
	color: #8FA1A9;
}
.data-classfit span{
	display: inline-block;
	width: 14px;
	height: 14px;
	float: left;
	background: #EEEEEE;
	border-radius: 4px;
	margin-right: 5px;
	margin-top: 2px;
}
.dataIn{
	top: 5%;
	left: 5%;
}
.dataIn span{
	background: #2D87F7;
}
.dataOut{
	top: 25%;
	left: 5%;
}
.data-nav-box{
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #DDDDDD;
}
.data-nav-box li{
	width: 50%;
	float: left;
	text-align: center;
}
.data-nav-box li a{
	display: block;
	color: #4F5F66;
}
.data-nav-box li.data_actives{
	background: #2D87F7;
}
.data-nav-box li.data_actives a{
	color: #fff;

}
.data-contants-list{
	width: 94%;
	height: auto;
	margin: 0 auto;
	margin-top: 20px;
}
.data-contants-list ul{
	position: relative;
}
.data-contants-list li{
	width: 94%;
	height: 35px;
	background: #fff;
	line-height: 35px;
	border-radius: 3px;
	margin-bottom: 15px;
	padding: 0 3%;
	color: #4F5F66;
}
.data-contants-list li span{
	display: inline-block;
	width: 33%;
	float: left;
}
.data-contants-list li span:nth-child(2){
	text-align: center;
}
.dateTime-title{
	margin-bottom: 10px;
	color: #4F5F66;
	background: #eee;
	padding: 5px 0;
}
.data-line-bg:before{
	content: "";
    position: absolute;
    width: 6px;
   /* top: 36%;*/
    left: 25px;
    height: 380px;
    background: #D8D8D8;
}

